<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Notas</title>
</head>

<body>

<h1>Notas</h1>

<a href="/notes/new">Nueva nota</a>

<ul>
<% notes.forEach(n => { %>
<li>
<strong><%= n.title %></strong> — <%= n.content %>
</li>
<% }) %>
</ul>

</body>
</html>